{% if include.href %}
<a href="{{ include.href }}" class="component-button {{ include.size }}">{{ include.text }}</a>
{% else %}
<button class="component-button {{ include.size }}" data-toggle="{{include.data-toggle}}">{{ include.text }}</button>
{% endif %}
